<div class= "main_content">
    <div class="flower_image">
        <img>
    </div>
    <div class= "explanation">
        <h2>「植物を知るのって楽しい！」
          この気持ちを、たくさんの人にもらう為に</h2> 
          <p>
          サイトに来て下さった方々へ
          この度はFan!Plants 訪問してくださり、ありがとうございます！
          私は現在都内の某お花屋さんで働いており、日々楽しく仕事をしています。
          
          私が、なぜこのようなサイトを立ち上げようと思ったのか。
          それは
          植物の奥深さ、楽しさをもっと、たくさんの人に知ってもらうためです。
          お花屋さんは、基本的にお客様と1対1のやりとりです。
          店舗を構えるお花屋さんで働いていると、１日にお話しできるお客様の人数が限られてしまうのです。
          ですがサイトを作れば、たくさんの人に、いつでも好きな時に植物の楽しさを知ってもらえる！
          このような考えに至った訳です。
          私が実際に働いて得た知識や経験を元にコラムを書いています。
          そしてコラムを書くときに大事にしたこと、それは『楽しく知識を得られる』ということ。
          植物を楽しむ（fun）、そして植物のFANになる
          サイトの名前には、そんな願いが込められています。
          それでは、当サイトにある様々なコラムをお楽しみください！
           ファンプランツ 作成者より
         </p>
    </div>
</div>