<div class= "main_content">
    <div class="flower_image">
        <img>
    </div>
    <div class= "explanation">
        <h2>「植物を知るのって楽しい！」
          この気持ちを、たくさんの人にもらう為に</h2> 
          <p>
          サイトに来て下さった方々へ<br>
          この度はFan!Plants 訪問してくださり、ありがとうございます！
          私は現在都内の某お花屋さんで働いており、日々楽しく仕事をしています。
          私が、なぜこのようなサイトを立ち上げようと思ったのか。
          それは<br>
          植物の奥深さ、楽しさをもっと、たくさんの人に知ってもらいたかったからです。<br>
          お花屋さんは、基本的にお客様と1対1のやりとりです。
          店舗を構えるお花屋さんで働いていると、１日にお話しできるお客様の人数が限られてしまうのです。
          ですがサイトを作れば、たくさんの人に、いつでも好きな時に植物の楽しさを知ってもらえる！
          このような考えに至った訳です。<br>
          私が実際に働いて得た知識や経験を元にコラムを書いています。<br>
          そしてコラムの内容は『楽しく知識を得られる』ように書きました。<br>
          植物を楽しむ（fun）、そして植物のFANになる<br>
          サイトの名前には、そんな願いが込められています。<br>
          それでは、当サイトにある様々なコラムをお楽しみください！<br>
          ファンプランツ 作成者より
         </p>
    </div>
</div>