    <div class="flower_content">
         <%= image_tag 'DSC_0618.JPG',:size =>'700x420'%>
    </div>
      <div class ="card-deck">
        <!--<div class="card-de1">-->
        <% @tops.each do |top| %>
       
         <div class="card">
          <!--<a href"<%=top.id%>"<div class="image" style="background-image:url(<%=top.image %>)"></div> alt="<%top.title%>"></a>-->
         </div>
         <!--<div class="card">-->
         <!-- <img class="card-img-top" src="..." alt="コラムの画像">-->
         <!--</div>-->
         <!--<div class="card">-->
         <!-- <img class="card-img-top" src="..." alt="コラムの画像">-->
         <!--</div>-->
         <!--<div class="card">-->
         <!-- <img class="card-img-top" src="..." alt="コラムの画像">-->
         <!--</div>-->
        <!--</div> -->
       <!--<div class="card-deck2">-->
        <!--<div class="card">-->
        <!-- <img class="card-img-top" src="..." alt="コラムの画像">-->
        <!--</div>-->
        <!--<div class="card">-->
        <!-- <img class="card-img-top" src="..." alt="コラムの画像">-->
        <!--</div>-->
        <!--<div class="card">-->
        <!--  <img class="card-img-top" src="..." alt="コラムの画像">-->
        <!-- </div>-->
        <!-- <div class="card">-->
        <!--  <img class="card-img-top" src="..." alt="コラムの画像">-->
        <!-- </div>-->
      <!--</div>-->
      <%end%>
    </div>

  