<div class="container">
  
<div class="card-deck">
  
  <div class="card">
    <img class="card-img-top" src="..." alt="カード1の画像">
    <div class="card-body">
      <h5 class="card-title">タイトル</h5>
      <p class="card-text">テキスト</p>
    </div>
  </div>
  
  <div class="card">
    <img class="card-img-top" src="..." alt="カード2の画像">
    <div class="card-body">
      <h5 class="card-title">タイトル</h5>
      <p class="card-text">テキスト</p>
    </div>
   </div>
   
   <div class="card">
    <img class="card-img-top" src="..." alt="カード3の画像">
    <div class="card-body">
      <h5 class="card-title">タイトル</h5>
      <p class="card-text">テキスト</p>
    </div>
   </div>
   
   <div class="card">
    <img class="card-img-top" src="..." alt="カード4の画像">
    <div class="card-body">
      <h5 class="card-title">タイトル</h5>
      <p class="card-text">テキスト</p>
    </div>
   </div>
   
  </div>
  
</div>