    <div class="flower_content">
         <%= image_tag 'DSC_0618.JPG',:size =>'700x420'%>
    </div>
      <div class ="card-deck">
        <% @tops.each do |top| %>
         <a href="/pages/<%= top.id %>"><div class="card" style="background-image:url(<%=top.image %>);" >
         </div>
         </a>
        <%end%>
      </div>

  