 <div class="left-content">
    <div class="flower_content">
         <img src="" alt="花の写真">
    </div>
    <div class="card-deck">
        <div class="card-deck1">
         <div class="card">
          <img class="card-img-top" src="..." alt="コラム１の画像">
           <div class="card-body">
            <h5 class="card-title">タイトル</h5>
             <p class="card-text">テキスト</p>
           </div>
        </div>
        <div class="card">
         <img class="card-img-top" src="..." alt="コラム２の画像">
          <div class="card-body">
           <h5 class="card-title">タイトル</h5>
             <p class="card-text">テキスト</p>
          </div>
        </div>
      </div>
       <div class="card-deck2">
        <div class="card">
         <img class="card-img-top" src="..." alt="コラム３の画像">
          <div class="card-body">
           <h5 class="card-title">タイトル</h5>
             <p class="card-text">テキスト</p>
          </div>
        </div>
        <div class="card">
         <img class="card-img-top" src="..." alt="コラム４の画像">
          <div class="card-body">
           <h5 class="card-title">タイトル</h5>
             <p class="card-text">テキスト</p>
          </div>
        </div>
      </div>
    </div>
</div>

  