    <div class="flower_content">
         <%= image_tag 'DSC_0618.JPG',:size =>'730x420'%>
    </div>
      <div class ="card-deck">
          
        <% @tops.each do |top| %>
        <article>
            <a class "cardtype_link" href="/pages/<%= top.id %>">
             <div class="card" style="background-image:url(<%=top.image %>);" >
             </div>
             </a>
        </article>
        <%end%>
          
      </div>

  