    <div class="flower_content">
         <%= image_tag 'DSC_0618.JPG',:size =>'700x420'%>
    </div>
    <div class="card-deck">
        <div class="card-deck1">
         <div class="card">
          <img class="card-img-top" src="..." alt="コラム１の画像">
         </div>
         <div class="card">
          <img class="card-img-top" src="..." alt="コラム２の画像">
         </div>
        </div> 
       <div class="card-deck2">
        <div class="card">
         <img class="card-img-top" src="..." alt="コラム３の画像">
        </div>
        <div class="card">
         <img class="card-img-top" src="..." alt="コラム４の画像">
        </div>
      </div>
    </div>

  