 <div class="contents clearfix">
    <div class="left-content">
        <div class="flower_content">
          <img src="" alt="花の写真">
        </div>
    </div>

    <div class="right-content">
    </div>
  </div>