<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="..." alt="カード1の画像">
    <div class="card-body">
      <h5 class="card-title">カード1のタイトル</h5>
      <p class="card-text">これは、追加コンテンツへの自然な導入として以下のテキストをサポートする、より幅広いカードです。このコンテンツはもう少し長くなります。</p>
     
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="カード2の画像">
    <div class="card-body">
      <h5 class="card-title">カード2のタイトル</h5>
      <p class="card-text">このカードには、追加のコンテンツへの自然な導入として以下のサポートテキストがあります。</p>
      
    </div>
  </div>
  </div>
</div>