<div class= "main_content">
    <div class="flower_image">
        <%=image_tag 'DSC_0773.JPG',:size =>'700x420'%>
    </div>
    <div class= "flower_links">
        <div class="link_titles">
            
        </div>
        <div class="link_urls">
            <div>
                
            </div>
            
        </div>
        
    </div>
</div>