<div class= "main_content">
    <div class="flower_image">
        <%=image_tag 'DSC_0773.JPG',:size =>'700x420'%>
    </div>
    <div class= "flower_links">
        <div class="link_title">
            <h3>植物やお花屋さんに関わるリンク集</h3>
             <div class="link_description">
                 <div class"link_description_in">
                     <p class= "link_text">
                         お花に関する色々なリンク集です。<br>
                         花屋を経験した方は、見た事があるサイトも多いと思います。<br>
                         色々なコンテンツがあり、見ているだけでも楽しいです　　（外部のサイトに移動します）
                     </p>
                 </div>
             </div>
        </div>
        <div class="link_urls" style="list-style:none;">
            <div>
                <div class= "link1">
                   <li>
                       
                   </li> 
                </div>
                <div class= "link1">
                   <li>
                       
                   </li> 
                </div>
                <div class= "link1">
                   <li>
                       
                   </li> 
                </div>
                <div class= "link1">
                    <li>
                        
                    </li>
                </div>
                <div class= "link1">
                    <li>
                        
                    </li>
                </div>
                <div class= "link1">
                    <li>
                        
                    </li>
                </div>
                <!--</div>-->
                <!--<div class= "link1">-->
                <!--    <li>-->
                        
                <!--    </li>-->
                <!--</div>-->
                
            </div>

        </div>
        
    </div>
</div>